.input.type1 {
	height: 52px;
	width: 100%;
	font-size: 16px;
	border-radius: 6px;
	outline: none;
	padding: 14px 16px;
	border: 1px solid #d7dbdf;

	&::placeholder {
		color: var(--slate-base-color);
	}
}

.btn {
	font-weight: 500;
	border-radius: 6px;
	width: 100%;
}

.btn.type1 {
	padding: 12px 0;
	color: #fff;
	background-color: var(--blue-color);
	font-size: 16px;
	line-height: 24px;
}

.btn.type2 {
	color: var(--slate-color);
	padding: 9px 11px;
	border: 1px solid #d7dbdf;
	font-size: 14px;
	line-height: 20px;
}

.btn.type1.disabled {
	cursor: default;
	background-color: var(--skyblue-color);
}

mark {
	background-color: #f5d90a;
}
