img {
	max-width: 100%;
	height: auto;
}

table {
	overflow: hidden;
	border: 1px double #b3b3b3;
	border-collapse: collapse;
	border-spacing: 0;
	height: 100%;
	width: 100%;

	th,
	td {
		min-width: 2em;
		padding: 0.4em;

		text-align: left;
	}
}
