.search-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--slate-base-color);
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		text-align: left !important;
		margin-left: 0 !important;
		* {
			color: var(--slate-base-color);
		}
	}
	p {
		font-size: 16px;
		line-height: 26px;
		text-align: left !important;
		margin-left: 0 !important;
	}
	mark {
		background-color: #f5d90a;
	}

	img {
		width: 100%;
		height: auto;
	}
}
