.swiper-wrap {
	position: relative;

	.navigation {
		position: absolute;
		top: 141px;
		width: 100%;

		button {
			position: absolute;
			width: 40px;
			height: 40px;
			background: #fff;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			&.prev {
				left: -64px;
			}

			&.next {
				right: -64px;
			}
		}
	}
	.item a * {
		color: #fff !important;
		text-decoration: none;
	}
}
