#toc {
	// 드롭다운 아이콘 활성화시
	& > .toc-list > .toc-list-item:has(.is-collapsible) > a {
		position: relative;
		padding-right: 32px;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 20px;
			height: 20px;
			background-image: url('/arrow-up.png');
			background-position: center;
			background-repeat: no-repeat;
			transition: all 0.25s ease-in-out;
		}
	}
	// 드롭다운 아이콘 비활성화시
	& > .toc-list > .toc-list-item:has(.is-collapsed) > a {
		&::after {
			transform: rotate(180deg);
		}
	}

	.toc-list {
		line-height: 24px;

		li {
			padding: 1px 0;

			.is-active-link {
				font-weight: 700;
			}

			.is-collapsible {
				max-height: 1000px;
				overflow: hidden;
				transition: all 500ms ease-in-out;
			}

			.is-collapsed {
				max-height: 0;
			}

			a {
				display: block;
				margin: 15px 0;
			}

			ol li {
				position: relative;
				padding-left: 24px;

				&::before {
					position: absolute;
					top: -5px;
					bottom: 0;
					left: 0;
					margin: auto;
					content: '';
					width: 10px;
					height: 10px;
					background-image: url('/corner-down-right.png');
					background-repeat: no-repeat;
				}
			}
		}
	}
}
